extends layout

block content

    // /header
    section#contact-info
     .flipster
          ul
            each slider in sliders
              li
                .item(class="#{sliders.indexOf(slider)==0?'active':''}")
                  .container
                    .row
                      .col-sm-6
                          h1= slider.title
                          h2= slider.description
                          a(href='#{slider.link}') Read More
                      .col-sm-6.hidden-xs.animation.animated-item-4
                        .slider-img
                          img.img-responsive(src='/data/#{slider.image}')
    section#services.service-item
      .container
        .center.wow.fadeInDown
          h2 Products and Services
          p.lead
            | You can select variety of products from our principals below 
        .row
          each principal in session.principals
            .col-sm-6.col-md-4
              .thumbnail
                a.truncate-me-1(href='/products/update?selPrincipalId=#{principal.id}&catId=#{principal.Categories[0]!=undefined?principal.Categories[0].id:""}')
                  img(src='/data/#{principal.logo}', alt='')
                //.caption
                //  h4
                //    a.truncate-me-1(href='/viewproduct?prodId=#{principal.id}')= principal.name
        // /.row
      // /.container
    // /#services
    section#contact-info
      .container
        .row
          .col-sm-8
            .media.contact-info.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .pull-left
                i.fa.fa-phone
              .media-body
                h2 Have a question or need a price quote?
                p
                  | Feel free to navigate
                  a(href='/contact') &nbsp; contacts
                  | &nbsp; page.
      // /.container
    // /#conatact-info
    include ./includes/bottom.jade